{% extends 'core/index.html' %}

{% load static %}

{% block title %}{{ room_name }}{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'chat/chat.css' %}" />
{% endblock style %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-10 chat">
            <div class="chat__body" id="chat-body">
            </div>
            <form class="" id="form">
                <div class="form-group mb-0">
                    <input class="form-control" id="input" type="text"></br>
                </div>
                <input class="btn btn-primary btn-block mt-0 btn-hover" id="submit" type="submit" value="Send" id="send">
            </form>
            <a class="btn btn-danger btn-block btn-hover" id="back" type="button"href="{% url 'chat-index' %}"> Back </a>
        </div>
    </div>

    {{ username|json_script:"user_username" }}
    {{ room_name|json_script:"room-name" }}

    <script src="{% static 'chat/chat.js' %}"></script>
</div>

</div>
{% endblock content %}