h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#btn-back {
    text-decoration: none;
    color: white;
}

form > .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
