.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.content > a {
    text-decoration: none;
    color: white;
    line-height: 10.5vh;
}

#create-chat-room-link {
    margin-top: 20vh;
}

#join-chat-room-link {
    margin-bottom: 20vh;
}

.btn-hover {
    flex: 0.35;
    font-size: xx-large;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

    background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);
    box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}

.btn-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.error {
    font-size: large;
    text-align: center;
}